<div id="tracking" class="hidden">

  <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TH4FN5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TH4FN5');</script>
  <!-- End Google Tag Manager -->

  <!-- Pixel -->
  <img border="0" src="https://r.turn.com/r/beacon?b2=KJlUsF-LuEh5zcQDgiBkjN2R5ihdRXW2zkcJ6L3mdEnqMOYeFSrOezf-Fb6uvl90V-SWPgbmR6jDbfsSPly4gQ&cid=">

  <!-- Adobe tracking code -->
  <script type="text/javascript">
    var ta_prodDomain = 'secretescapes.com';
    var ta_partner = 'partner:secretescapes-uk';
    var ta_account;
    var ta_pageName = ta_partner + ':' + window.location.pathname;
    var ta_server = window.location.hostname;
    var ta_url = window.location.href;
    var ta_cachebreak = new Date().getTime();
    (window.location.hostname.indexOf(ta_prodDomain) > -1) ? ta_account = 'tuatourism-australia-global' : ta_account = 'tuata-dev-internal';
    var ta_analyticsImgSrc = 'http://tourismaustralia.sc.omtrdc.net/b/ss/'+ta_account+'/1/H.26.2/s'+ta_cachebreak+'?AQB=1&ndh=0&ns=tourismaustralia&pageName='+escape(ta_pageName);
    ta_analyticsImgSrc += '&g='+escape(ta_url)+'&server='+escape(ta_server)+'&v11='+escape(ta_partner)+'&AQE=1';
    var ta_analyticsImg = document.createElement('img');
    ta_analyticsImg.src = ta_analyticsImgSrc
  </script>

  <!-- AMOBEE Pixel -->
  <img border="0" src="https://r.turn.com/r/beacon?b2=MgtnL-vzXpfdX5DmwFclOVx8K4iBXlR4hQ1Wvj587orqMOYeFSrOezf-Fb6uvl90TmOfraHSJvMesE3jjYiw8Q&cid=">

  <!-- The Trade Desk Pixel -->
  <img height="1" width="1" style="border-style:none;" alt="" src="//insight.adsrvr.org/track/conv/?adv=zolekvh&ct=0:uhpbnbv&fmt=3"/>


  {% if page.trackingpixels %}
  <script type="text/javascript">
    $(document).ready(function(){
      var ord = Number(ord) || Math.floor(Math.random()*10e12);
      function generateImg(pixelid,scr_link){

        var target = $('#'+pixelid);

        var scr = document.createElement('script');
        var scr_src = scr_link + ord + ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?";
        scr.src = scr_src;

        $(target).prepend(scr);

      };

      {% for pixel in page.trackingpixels %}
      generateImg('{{pixel.id}}','{{pixel.scr-link|strip_newlines}}');
      {% endfor %}

    });
  </script>
  {% endif %}

</div>