---
layout: default
id: overview
title: Overview
nav-order: 1



landing:
  title-super: Choose
  title: Australia
  intro: >
    <p class="text--xl">A country of explosive colour and unparalleled possibilities, Australia has something fresh to offer worldly city-breakers, beach-lovers and adventure-junkies.</p>
    <p class="text--lg">As one of the most diverse destinations on earth, travellers have long been seduced by the irresistible lure of Australia’s golden sands, unrivalled surf and flaming outback landscape. From its bustling modern metropolises, with world-renowned culinary offerings, to the rolling hills of its wineries, this beautiful country is a destination for relaxation, adventure and discovery.</p>
    <p class="text--lg">A two-week holiday in Australia is only the beginning. Now celebrating 50 years serving this fascinating country, Singapore Airlines offer flights to nine major cities across Australia. Let the world’s most awarded airline take you there.</p>

---
{% assign locations = site.data.map %}



<div class="overview">



  <div class="overview-landing page__content">

    <div class="overview-landing__content row row--padding text--center text--white">
      {% if page.landing.title-super %}
        <div class="title title--super title--sm title--upper title--kerning-lg">{{page.landing.title-super}}</div>
      {% endif %}
      <h1 class="title title--display title--kerning banner__title">
        {{page.landing.title}}
      </h1>
      {% if page.landing.title-sub %}
        <div class="title title--sub title--sm title--upper title--kerning-lg">{{page.landing.title-sub}}</div>
      {% endif %}
      <hr class="hr--center">
      {{page.landing.intro}}
      <a href="javascript:void(0);" class="btn btn--solid js-overview-start">Start exploring</a>
      <div id="weather"></div>
    </div>

  </div>



  <div class="overview-map">
    <div class="overview-map__content">

        <div class="overview-map__australia">

          <div class="overview-map__locations">

            {% for location in locations.locations %}
              <a href="javascript:void(0);" data-modal-id="modal-map" data-modal-item-id="{{location.title|slugify}}" class="js-open-modal overview-map__location" style="top: {{location.top}}%; left: {{location.left}}%;">
                <img src="{{site.baseurl}}/img/content/{{page.id}}/icons/map-{{location.title|slugify}}.png" width="100%">
              </a>
            {% endfor %}

            {% for location in locations.airports %}
              <a href="javascript:void(0);" data-modal-id="modal-map" data-modal-item-id="{{location.title|slugify}}" class="js-open-modal overview-map__airport" style="top: {{location.top}}%; left: {{location.left}}%;">
                <img src="{{site.baseurl}}/img/content/{{page.id}}/icons/map-sq.png" class="js-svg-swap" width="100%">
              </a>
            {% endfor %}

          </div>

          <img src="{{site.baseurl}}/img/bg/overview/map.png" width="100%">

        </div>

    </div>
    <div class="overview-map__frame overview-map__frame-left"></div>
    <div class="overview-map__frame overview-map__frame-right"></div>
  </div>

  {% include nav/microsite-nav.html class="overview__nav" %}

</div>




{% include modal/modal-map.html %}