---
layout: default
id: overview
title: Overview
nav-order: 1



landing:
  title-super: Choose
  title: Australia
  intro: >
    <p class="text--xl">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>


map:



---




<div class="overview">



  <div class="overview__landing">

    <div class="overview__landing-content row row--padding text--center text--white">
      {% if page.landing.title-super %}
        <div class="title title--super title--sm title--bold title--upper title--kerning-lg">{{page.landing.title-super}}</div>
      {% endif %}
      <h1 class="title title--display title--display-size">
        {{page.landing.title}}
      </h1>
      {% if page.landing.title-sub %}
        <div class="title title--sub title--sm title--bold title--upper title--kerning-lg">{{page.landing.title-sub}}</div>
      {% endif %}
      <hr class="hr--center">
      {{page.landing.intro}}
      <a href="javascript:void(0);" class="btn btn--solid js-overview-start">Start exploring</a>
    </div>

  </div>



  <div class="overview__map">

  </div>

  {% include nav/microsite-nav.html class="overview__nav" %}

</div>




<div class="page__content">
</div><!-- end .page__content -->