---
layout: standard
id: trip-planner
title: Trip Planner
nav-order: 7



intro: >
  <p class="text--xl">It’s time to plan your Australian adventure! Find your perfect match with our game, or scroll down to browse through Trailfinders offers set to inspire your Aussie wanderlust...</p>



game-results:

  - id: city-hidden
    title: Small hidden gems
    content: You prefer the relaxed streets of the small town, where hidden gems abound and residents greet you with a warm smile. Discover local crafts, delicacies and more, in small-town Australia.
    offer-id: unique-boutique-luxury-australia

  - id: city-iconic
    title: Iconic cities
    content: You love the buzz of the big city. From galleries to boutiques and relaxed brunch spots to impressive arts centres, it’s all happenin’ downtown.
    offer-id: unique-boutique-luxury-australia

  - id: nature-wildlife
    title: Unique wildlife
    content: You are at your happiest exploring the unique wildlife of the places you visit. Immerse yourself in the landscape and discover unique animals at every turn.
    offer-id: unique-boutique-luxury-australia

  - id: nature-beaches
    title: Stunning Australian coast
    content: Your ideal escape always involves a beach. Sunning yourself on the beach, running down the beach, generally just beach beach beach. Well lucky then, that Australia has some of the most stunning beaches anywhere in the world.
    offer-id: unique-boutique-luxury-australia

  - id: relax-luxury
    title: Life of luxury
    content: From spas to opulent retreats, you crave the finer things. Relish in the luxurious comforts of Australia’s finest five-star hideaways.
    offer-id: unique-boutique-luxury-australia

  - id: relax-food
    title: Foodie
    content: You’re a foodie through and through – you want authentic, innovative, tantalising flavours at every turn. Discover everything from brunch to cellar-door experiences to throw your tastebuds into a fervour.
    offer-id: unique-boutique-luxury-australia


---



<div class="section">

  <div class="row row--padding text--center">
    {{page.intro}}
  </div>

  <div class="row game">

    <div class="row row--padding text--center">
      <hr class="hr--center">
      <h3 class="title title--lg title--bold">Find your perfect Australia holiday</h3>
      <hr class="hr--center">
    </div>

    <div class="row row--padding">
      {% include page/offer-game.html %}
    </div>

  </div>

</div>



<div class="section bg--grey-lightest">

  <div class="row row--padding text--center">
    <h3 class="title title--md title--upper title--kerning">Australia holiday packages</h3>
    <hr class="hr--center">
    <p class="text--lg">Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
  </div>

  <div class="row row--padding">
    {% assign offers = site.data.offers %}

    <div class="row">
      {% for offer in offers %}
        {% include components/offer.html type='direct' %}
      {% endfor %}
    </div>

  </div>

</div>



{% include page/flights-banner.html %}