---
layout: standard
id: trip-planner
title: Trip Planner
nav-order: 7



banner:
  content: >
    <div class="banner__logos">
      <span class="banner__logo banner__logo--trailfinders"></span>
    </div>
    <h1 class="title title--display title--display-size title--upper title--kerning">Trip Planner</h1>



intro: >
  <p class="text--xl">It’s time to plan your Australian adventure! Find your perfect match with our game, or scroll down to browse through Trailfinders offers set to inspire your Aussie wanderlust...</p>



game-results:

  - id: city-roadtrip
    title: Road Trip
    content: You prefer exploring the less-travelled roads under your own steam, where small towns offer hidden gems aplenty and residents greet you with a warm smile. Discover local crafts, delicacies and more, as you self-drive through Australia.
    offer-id: pacific-coastal-run

  - id: city-iconic
    title: Iconic cities
    content: You love the buzz of the big city. From galleries to boutiques and relaxed brunch spots to impressive arts centres, it’s all happenin’ downtown.
    offer-id: unique-boutique-luxury-australia

  - id: nature-wildlife
    title: Unique wildlife
    content: You are at your happiest exploring the unique wildlife of the places you visit. Immerse yourself in the landscape and discover unique animals at every turn.
    offer-id: luxury-queensland

  - id: nature-beaches
    title: Stunning Australian coast
    content: Your ideal escape always involves a beach. Sunning yourself on the beach, running down the beach, generally just beach beach beach. Well lucky then, that Australia has some of the most stunning beaches anywhere in the world.
    offer-id: sydney-rock-reef

  - id: relax-luxury
    title: Life of luxury
    content: From spas to opulent retreats, you crave the finer things. Relish in the luxurious comforts of Australia’s finest five-star hideaways.
    offer-id: absolute-luxury-australia

  - id: relax-food
    title: Foodie
    content: You’re a foodie through and through – you want authentic, innovative, tantalising flavours at every turn. Discover everything from brunch to cellar-door experiences to throw your tastebuds into a fervour.
    offer-id: south-western-escape


---



<div class="section">

  <div class="row row--padding text--center">
    {{page.intro}}
  </div>

  <div class="row game">

    <div class="row row--padding text--center">
      <hr class="hr--center">
      <h3 class="title title--lg title--bold">Find your perfect Australia holiday</h3>
      <hr class="hr--center">
    </div>

    <div class="row row--padding">
      {% include page/offer-game.html %}
    </div>

  </div>

</div>



<div class="section bg--grey-lightest">

  <div class="row row--padding text--center">
    <h3 class="title title--md title--upper title--kerning">Trailfinder Holiday Packages</h3>
    <hr class="hr--center">
    <p class="text--lg">Trailfinders are the No. 1 Tour Operator Down Under. Book your perfect Australian escape with award-winning Trailfinders, flying with Singapore Airlines from the UK</p>
  </div>

  <div class="row row--padding row--xl">
    {% assign offers = site.data.offers %}

    {% for offer in offers %}
      {% include components/offer-lg.html type='direct' %}
    {% endfor %}

  </div>

  <div class="row row--padding text--center">
    <p class="text--sm">Prices are per person, based on twin share and subject to availability. Valid for selected May – June, September & November departures. </p>
  </div>

</div>



{% include page/flights-banner.html %}