---
layout: standard
id: flights
title: Getting There
nav-order: 6


banner:
  title: Getting There
  title-sub: with Singapore Airlines



intro: >
  <p class="text--xl text--bold">Begin your Australian adventure in affordable luxury; fly Singapore Airlines.</p>
  <p class="text--lg">What better way to travel to the golden shores and urban jungles of Australia than with the world’s most awarded airline?</p>
  <p class="text--lg">Singapore Airlines has been serving Australia for more than 50 years, remaining the country’s most frequent visitor with over 150 flights per week to nine Australian cities. Four daily flights from Heathrow and five weekly from Manchester make travelling from the UK a breeze. UK Regional departures are available with partners Flybe, National Express and Great Western Railway. Fly into Singapore’s Changi Airport for your transfer, with the option to stopover and explore the city. Once you’ve arrived, continue your journey with partners Virgin Australia, offering 3,000 weekly flights to over 40 country wide destinations.</p>
  <a href="#flights" class="btn btn--sq">View all flights</a>





features:

  - title: Australia Gateways served by Singapore Airlines
    id: gateways
    favourite: true
    content: >
      <p>Singapore Airlines offers flights to nine Australian gateways – Brisbane, the Gold Coast*, Sydney, Melbourne, Adelaide, Perth, Darwin**, Cairns** and Canberra. Operated by Singapore Airlines subsidiaries *Scoot and **SilkAir.</p>

  - title: Fly a modern fleet
    id: modern
    favourite: true
    content: >
      <p>With a fleet of modern aircraft, Singapore Airlines offer premium in-flight comfort at an affordable price. As of 17 February, the new A380 will complete the London to Singapore route, offering innovative interiors across all classes. Each has been upgraded for extra comfort and luxury. The A350 service retains the comfort and convenience of a Singapore Airlines flight, with exceptional dining opportunities and bespoke on-board elements created with the Singapore Airlines’ customer in mind.</p>



  - title: Economy Class
    id: economy
    content: >
      <p>Economy Class is set to let you travel in comfort, with seats designed to give you more personal space, even if the seat in front of you is reclined. If you want more legroom, you can select Preferred Seats. With a wider seat pitch and a location near the exits it’s in a prime position. KrisWorld entertainment completes the experience.</p>

  - title: Premium Economy
    id: premium
    content: >
      <p>In exclusive, spacious, 2-4-2 cabin, Premium Economy Class seats are designed with a seat pitch of 38 inches for your enhanced comfort. Add that to the extra choices such as champagne, the possibility to pre-book your meal with the airline’s Book the Cook programme, plus exclusive privileges – all delivered by an award-winning service – Premium Economy is worth the upgrade.</p>

  - title: Business Class
    id: business
    content: >
      <p>Let everything go to plan with Business Class. Reserve your meal with Book the Cook and enjoy uninterrupted sleep on your fully-flat bed. Don’t leave it to chance – wake-up refreshed, ready to complete your business after a rejuvenating service with Singapore Airlines.</p>

  - title: First Class & Suites
    id: first-class
    content: >
      <p>Relish in the opulence that First Class aboard a Singapore Airlines flight affords. Breakfast in bed, no matter what the time. Whether you need a quiet space to work or somewhere to relax, enjoy sumptuous and delicately prepared meals. If you simply want to enjoy a film, the lie-flat beds make everything possible… Take it one step further with a whole suite to yourself for ultimate privacy and personal space when you’re flying on the A380. </p>

  - title: Complimentary Privileges at Award Winning Changi Airport
    id: changi
    content: >
      <p>Travelling via Singapore’s award-winning Changi Airport, Singapore Airlines’ guests can enjoy a pleasant, seamless transfer to Australia. While you’re there, you won’t be short on things to do, with extensive shopping and dining facilities, a swimming pool, free WiFi and cinema, and the world’s first airport-based butterfly garden. All Singapore Airlines passengers will receive a S$20 (£11.50) voucher to spend in Changi during their transfer (on either way of travel).</p>

  - title: KrisFlyer Rewards & Benefits
    id: krisflyer
    content: >
      <p>Singapore Airlines also offer its frequent flyers a special rewards scheme. KrisFlyer allows regular guests to earn and burn miles with Singapore Airlines, Virgin Atlantic, Virgin Australia and all Star Alliance airlines, while Elite Gold members can access over 1,000 international Star Alliance lounges, including Virgin Australia Lounges throughout Australia.</p>





flights:

  - title: Melbourne
    price: 720
    departing: from London Heathrow or Manchester airport
    link: https://ad.doubleclick.net/ddm/trackclk/N407206.2141904SECRETESCAPES/B20662045.213453179;dc_trk_aid=412638616;dc_trk_cid=97620066;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

  - title: Sydney
    price: 690
    departing: from London Heathrow or Manchester airport
    link: https://ad.doubleclick.net/ddm/trackclk/N407206.2141904SECRETESCAPES/B20662045.213541491;dc_trk_aid=412636876;dc_trk_cid=97622148;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

  - title: Brisbane
    price: 690
    departing: from London Heathrow or Manchester airport
    link: https://ad.doubleclick.net/ddm/trackclk/N407206.2141904SECRETESCAPES/B20662045.213541494;dc_trk_aid=412636867;dc_trk_cid=97624407;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

  - title: Cairns
    price: 755
    departing: from London Heathrow or Manchester airport
    link: https://ad.doubleclick.net/ddm/trackclk/N407206.2141904SECRETESCAPES/B20662045.213452018;dc_trk_aid=412636870;dc_trk_cid=97620633;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

  - title: Perth
    price: 650
    departing: from London Heathrow or Manchester airport
    link: https://ad.doubleclick.net/ddm/trackclk/N407206.2141904SECRETESCAPES/B20662045.213452024;dc_trk_aid=412574418;dc_trk_cid=97558879;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

  - title: Darwin
    price: 725
    departing: from London Heathrow or Manchester airport
    link: https://ad.doubleclick.net/ddm/trackclk/N407206.2141904SECRETESCAPES/B20662045.213452033;dc_trk_aid=412634587;dc_trk_cid=97696325;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

  - title: Adelaide
    price: 720
    departing: from London Heathrow or Manchester airport
    link: https://ad.doubleclick.net/ddm/trackclk/N407206.2141904SECRETESCAPES/B20662045.213453182;dc_trk_aid=412638613;dc_trk_cid=97696319;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

  - title: Gold Coast
    price: 640
    departing: from London Heathrow or Manchester airport
    link: https://ad.doubleclick.net/ddm/trackclk/N407206.2141904SECRETESCAPES/B20662045.213453188;dc_trk_aid=412638916;dc_trk_cid=97696328;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=

  - title: Canberra
    price: 675
    departing: from London Heathrow or Manchester airport
    link: https://ad.doubleclick.net/ddm/trackclk/N407206.2141904SECRETESCAPES/B20662045.214046958;dc_trk_aid=413022951;dc_trk_cid=97556557;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=








trackingpixels:

  - id: PIXEL_CairnsCTA
    scr-link: "https://ad.doubleclick.net/ddm/trackimpj/N407206.2141904SECRETESCAPES/B20662045.213452018;dc_trk_aid=412636870;dc_trk_cid=97620633;ord="
    img: >
      <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/142214/22046564/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/142214/22046563/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>

  - id: PIXEL_PerthCTA
    scr-link: "https://ad.doubleclick.net/ddm/trackimpj/N407206.2141904SECRETESCAPES/B20662045.213452024;dc_trk_aid=412574418;dc_trk_cid=97558879;ord="
    img: >
      <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/142214/22046558/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/142214/22046557/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>

  - id: PIXEL_DarwinCTA
    scr-link: "https://ad.doubleclick.net/ddm/trackimpj/N407206.2141904SECRETESCAPES/B20662045.213452033;dc_trk_aid=412634587;dc_trk_cid=97696325;ord="
    img: >
      <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/142214/22046536/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/142214/22046535/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>

  - id: PIXEL_MelbourneCTA
    scr-link: "https://ad.doubleclick.net/ddm/trackimpj/N407206.2141904SECRETESCAPES/B20662045.213453179;dc_trk_aid=412638616;dc_trk_cid=97620066;ord="
    img: >
      <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/142214/22046560/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/142214/22046559/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>

  - id: PIXEL_AdelaideCTA
    scr-link: "https://ad.doubleclick.net/ddm/trackimpj/N407206.2141904SECRETESCAPES/B20662045.213453182;dc_trk_aid=412638613;dc_trk_cid=97696319;ord="
    img: >
      <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/142214/22046574/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/142214/22046573/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>

  - id: PIXEL_GoldCoastCTA
    scr-link: "https://ad.doubleclick.net/ddm/trackimpj/N407206.2141904SECRETESCAPES/B20662045.213453188;dc_trk_aid=412638916;dc_trk_cid=97696328;ord="
    img: >
      <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/142214/22046538/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/142214/22046537/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>

  - id: PIXEL_SydneyCTA
    scr-link: "https://ad.doubleclick.net/ddm/trackimpj/N407206.2141904SECRETESCAPES/B20662045.213541491;dc_trk_aid=412636876;dc_trk_cid=97622148;ord="
    img: >
      <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/142214/22046572/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/142214/22046571/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>

  - id: PIXEL_BrisbaneCTA
    scr-link: "https://ad.doubleclick.net/ddm/trackimpj/N407206.2141904SECRETESCAPES/B20662045.213541494;dc_trk_aid=412636867;dc_trk_cid=97624407;ord="
    img: >
      <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/142214/22046562/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/142214/22046561/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>

  - id: PIXEL_CanberraCTA
    scr-link: "https://ad.doubleclick.net/ddm/trackimpj/N407206.2141904SECRETESCAPES/B20662045.214046958;dc_trk_aid=413022951;dc_trk_cid=97556557;ord="
    img: >
      <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/142214/22046556/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/142214/22046555/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>

  - id: PIXEL_ViewAllFlightsCTA
    scr-link: "https://ad.doubleclick.net/ddm/trackimpj/N407206.2141904SECRETESCAPES/B20662045.213540204;dc_trk_aid=412621568;dc_trk_cid=97621236;ord="
    img: >
      <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/142214/22046540/skeleton.js"></SCRIPT> <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/142214/22046539/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>

---



<div class="section">
  <div class="row row--padding text--center">
    {{page.intro}}
  </div>
</div>









<div class="section vpad-top--sm">

  {% assign favourites = page.features | where: "favourite", "true" %}

  <div class="row row--padding row--6-6-gutters">

    {% for feature in favourites %}
    <div class="col">
      <div class="bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/feature-{{feature.id}}.jpg');">
      </div>

      <div class="space--md"></div>
      <h4 class="title title--sm">{{feature.title}}</h4>
      {{feature.content}}

    </div>
    {% endfor %}

  </div>


  <div class="row row--padding row--4-4-4-gutters">
    {% for feature in page.features %}
    {% unless feature.favourite %}

      <a href="javascript:void(0);" id="sq-feature-{{feature.id}}" data-modal-id="modal-sq" data-modal-item-id="{{feature.id}}" class="js-open-modal col
      ">

        <div class="bg-img bg-img--3-2 bg-img--rounded bg-img--shadow bg--grey-darkest text--white">

          <div class="bg-img__content">
            <h4 class="title title--xxs title--kerning title--upper title--bold">{{feature.title}}</h4>
          </div>

          <div class="bg-img__bg" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/feature-{{feature.id}}.jpg');"></div>

        </div>
        <div class="space--lg"></div>

      </a>

    {% endunless %}
    {% endfor %}
  </div>


</div>



{% include modal/modal-sq.html %}









<div class="section bg--grey-lightest vpad--xxl">
  <div class="wp" id="flights"></div>

  <div class="row row--padding text--center vpad-bottom--lg">
    <span class="title title--xxs title--super title--bold title--upper title--kerning vpad-bottom--sm">Be taken in style, be looked after, be rewarded</span>
    <h3 class="title title--display title--xl title--lined title--kerning">Fly Singapore Airlines</h3>
  </div>

  <div class="row row--padding row--4-4-4-gutters">

    {% for flight in page.flights %}
    <div class="col">
      <a href="{{flight.link}}" id="tracking-flight-{{flight.title|slugify}}" target="_blank" class="flight bg-img bg-img--1-1 bg-img--lg-2-3 bg-img--xxxl-1-1 bg-img--rounded row--padding text--white bg--grey-darkest">

        <div class="bg-img__content">
          <h3 class="title title--sm"><span class="title--bold">{{flight.title}}</span> from £{{flight.price}}</h3>
          <h5 class="title title--upper title--kerning text--bold">{{flight.departing}}</h5>
          <span class="btn btn--solid btn--sq btn--sm">View flights</span>
        </div>

        <div class="bg-img__bg" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/flight-{{flight.title|slugify}}.jpg);"></div>

      </a>
      <div class="space--lg"></div>
    </div>
    {% endfor %}

  </div>


  <div class="row row--padding text--center">
    <a href="https://ad.doubleclick.net/ddm/trackclk/N407206.2141904SECRETESCAPES/B20662045.213540204;dc_trk_aid=412621568;dc_trk_cid=97621236;dc_lat=;dc_rdid=;tag_for_child_directed_treatment="  id="tracking-viewallflights-btn" class="btn btn--sq">View all flights</a>
  </div>

</div>