---
layout: standard
id: flights
title: Getting There
nav-order: 6


banner:
  title: Getting There
  title-sub: with Singapore Airlines



intro: >
  <p class="text--xl text--bold">Begin your Australian adventure in affordable luxury; fly Singapore Airlines.</p>
  <p class="text--lg">What better way to travel to the golden shores and urban jungles of Australia than with the world’s most awarded airline? </p>
  <p class="text--lg">Singapore Airlines has been serving Australia for more than 50 years, remaining the country’s most frequent visitor. With over 150 flights on its weekly schedule, including four daily from London and five weekly from Manchester, travel in comfort from the UK to nine Australian cities. Choose a regional departure with partners Flybe, National Express coaches and Great Western Railway and once you’ve arrived, continue your journey with Virgin Australia, offering 3,000 weekly flights to over 40 countrywide destinations.</p>
  <a href="#flights" class="btn btn--sq">View all flights</a>





features:

  - title: Australia Gateways served by Singapore Airlines
    id: image
    favourite: true
    content: >
      <p class="text--lg">With a fleet of modern aircraft, Singapore Airlines offer premium in-flight comfort at an affordable price. Its newly unveiled cabins offer more space and privacy across all classes, as well as exceptional dining opportunities, designed by world-renowned exerts, and bespoke on-board elements created with the Singapore Airlines’ customer in mind.</p>

  - title: Fly the new A380 and modern fleet
    id: image
    favourite: true
    content: >
      <p class="text--lg">With complimentary stop-overs in the award-winning Changi Airport, Singapore Airlines’ guests can enjoy a pleasant, seamless transfer to Australia. While you’re there, you won’t be short on things to do, with extensive shopping and dining facilities, free WiFi, a swimming pool and cinema, and the world’s first airport-based butterfly garden. All Singapore Airlines passengers will receive a S$20 (£11.50) voucher to spend in Changi during their transfer. </p>



  - title: Hot towels in all cabins
    id: image
    content: >
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

  - title: Choice of three entrees in Economy
    id: image
    content: >
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

  - title: KrisWorld onboard entertainment
    id: image
    content: >
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

  - title: Book the Cook service
    id: image
    content: >
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

  - title: Complimentary Privileges at Award Winning Changi Airport
    id: image
    content: >
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

  - title: KrisFlyer Rewards & Benefits
    id: image
    content: >
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>





flights:

  - title: Melbourne
    departing: >
      <p class="text--lg">From London Heathrow</p>
    frequency: Fly to Melbourne from London with four daily non-stop connections from Singapore.
    content: Add accommodation to your booking to get a fantastic deal on your next visit to Melbourne

  - title: Sydney
    departing: >
      <p class="text--lg">From London Heathrow</p>
    frequency: Fly to Sydney from London with 31 weekly non-stop connections from Singapore.
    content: Enjoy a complimentary stop-over in Changi and explore the world’s first airport butterfly garden

  - title: Brisbane
    departing: >
      <p class="text--lg">From London Heathrow</p>
    frequency: Fly to Brisbane from London with 24 weekly non-stop connections from Singapore.
    content: Book a car rental with your flight to see more of Australia’s east coast

  - title: Cairns
    departing: >
      <p class="text--lg">From London Heathrow</p>
    frequency: Fly to Cairns from London with three weekly non-stop connections from Singapore.
    content: Benefit from the award-winning services of Changi Airport, for the ultimate stress-free transfer

  - title: Perth
    departing: >
      <p class="text--lg">From London Heathrow</p>
    frequency: Fly to Perth from London with four daily non-stop connections from Singapore.
    content: Add accommodation to your booking to ensure the most unforgettable of stays in Perth

  - title: Darwin
    departing: >
      <p class="text--lg">From London Heathrow</p>
    frequency: Fly to Darwin from London with five weekly non-stop connections from Singapore.
    content: With connections to over 40 Australian destinations and 3,000 weekly flights, make Darwin your gateway of choice

  - title: Adelaide
    departing: >
      <p class="text--lg">From London Heathrow</p>
    frequency: Fly to Adelaide from London with daily non-stop flights from Singapore.
    content: Add a hotel to your booking and make your next trip to Adelaide unforgettable

  - title: Gold Coast
    departing: >
      <p class="text--lg">From London Heathrow</p>
    frequency: Fly to the Gold Coast from London with xx flights from Singapore.
    content: Add a rental car to your booking and take to Australia’s most beautiful coastal roads

  - title: Canberra
    departing: >
      <p class="text--lg">From London Heathrow</p>
    frequency: Fly to Canberra from London with four weekly direct flight from Singapore.
    content: Add a rental car to your booking and indulge in the ultimate Australian road trip


---



<div class="section">
  <div class="row row--padding text--center">
    {{page.intro}}
  </div>
</div>









<div class="section vpad-top--sm">

  {% assign favourites = page.features | where: "favourite", "true" %}

  <div class="row row--padding row--6-6-gutters pois">

    {% for feature in favourites %}
    <div class="col poi">
      <div class="bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/feature-{{feature.id}}.jpg');">
      </div>

      <div class="space--md"></div>
      <h4 class="title title--sm">{{feature.title}}</h4>
      {{feature.content}}

    </div>
    {% endfor %}

  </div>


  <div class="row row--padding row--4-4-4-gutters">
    {% for feature in page.features %}
    {% unless feature.favourite %}

      <div class="col">
        <div class="bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/feature-{{feature.id}}.jpg');"></div>
        <div class="space--xs"></div>
        <h4 class="title title--xs">{{feature.title}}</h4>
        {{feature.content}}
        <div class="space--md"></div>
      </div>

    {% endunless %}
    {% endfor %}
  </div>


</div>









<div class="section bg--grey-lightest vpad--xxl">
  <div class="wp" id="flights"></div>

  <div class="row row--padding text--center">
    <span class="title title--xxs title--super title--bold title--upper title--kerning vpad-bottom--sm">Be taken in style, be looked after, be awarded</span>
    <h3 class="title title--display title--lg title--lined title--kerning">Fly Singapore Airlines</h3>
  </div>

  <div class="row row--padding">
    {% for flight in page.flights %}

      <div class="flight row row--4-8 row--xl bg--rounded bg--white row--valign">

        <div class="flight__image col row--padding vpad--xl text--white" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/flight-{{flight.title|slugify}}.jpg);">
          <h4 class="title title--xs title--bold">{{flight.title}}</h4>
          <hr class="hr--left">
          {{flight.departing}}
        </div>

        <div class="flight__text col row--padding vpad--md">
          <p><span class="text--bold">{{flight.frequency}}</span> {{flight.content}}</p>
          <a href="#" class="btn btn--solid btn--sq btn--sm">Flights from £XXX</a>
        </div>

      </div>

    {% endfor %}
  </div>


  <div class="row row--padding vpad--md text--center">
    <a href="#" class="btn btn--sq">View all flights</a>
  </div>

</div>