<div class="offer offer--lg{% if include.type == 'direct' %} offer--direct{% endif %}">

  <a id="tracking-trailfinders-{{offer.id}}" class="offer__link"{% if include.ext-link %} target="_blank"{% endif %} href="{{ offer.link }}"><span class="btn btn--tf">View Offer</span></a>

  <div class="bg-img bg-img--16-9" style="background-image: url('{{ site.baseurl }}/img/offers/{{offer.id}}.jpg')">
    <div class="offer__logo"><img src="{{site.baseurl}}/img/logo/trailfinders.png" width="100%" class="js-svg-swap"></div>
    <div class="offer__price">From <span class="text--bolder">£{{offer.price}}</span></div>
  </div>

  <div class="offer__content">
    <div class="row row--7-5-gutters">

      <div class="col">
        <h3 class="title title--xxs title--bolder">{{ offer.title }}</h3>
        <h4 class="title--upper title--kerning"><span class="text--bold">{{ offer.type }}</span> | <span class="text--bold">{{offer.duration}}</span> days</h4>
        <hr>
        <p class="offer__description">{{ offer.description}}</p>
      </div>

      <div class="col">
        <ul class="offer__included">
          {% for inclusion in offer.included %}
            <li class="text--sm">{{inclusion.item}}</li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

</div>