<div class="offer offer--single{% if include.type == 'direct' %} offer--direct{% endif %} {{include.class}}">

  <a id="tracking-poi-offer-{{poi.title|slugify}}"{% if include.ext-link %} target="_blank"{% endif %} class="offer__link" href="{% if include.link %}{{site.baseurl}}/{{ include.link}}{% else %}{{ offer.link }}{% endif %}"><span class="btn btn--tf">View Offer</span></a>

  <div class="row row--6-6 row--valign">

    <div class="col bg-img bg-img--4-3" style="background-image: url('{{ site.baseurl }}/img/offers/{{offer.id}}.jpg')">
      <div class="offer__logo"><img src="{{site.baseurl}}/img/logo/trailfinders.png" width="100%" class="js-svg-swap"></div>
      <div class="offer__price">From <span class="text--bolder">£{{offer.price}}</span></div>
    </div>

    <div class="col offer__content">
      <h3 class="title title--xxxs title--bold">{{ offer.title }}</h3>
      <h4 class="title--xxxxs title--upper title--kerning text--bold">{{ offer.type }} | {{offer.duration}} days</h4>

      <p class="offer__description">{{ offer.description}}</p>

    </div>

  </div>

</div>