<div class="col poi">

  <div class="poi__image bg-img bg-img--3-2" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/pois/{{poi.title|slugify}}.jpg');">
    {% if poi.image-credit %}
    <div class="bg-img__credit">
      {{poi.image-credit}}
    </div>
    {% endif %}
  </div>

  <div class="space--md"></div>
  <h4 class="title title--md title--bold">{{poi.title}}</h4>

  {% if poi.title-sub %}
    <div class="title title--xxxs title--bolder">{{poi.title-sub}}</div>
  {% endif %}

  <p class="text--small">{{poi.content}}</p>

  <div class="poi__footer">
    <hr>

    {% if poi.locations %}
    {% for location in poi.locations %}
      <div class="tag"><span class="location title title--xxxxs title--bolder title--upper">{{location.title}}</span></div>
    {% endfor %}
    {% endif %}

  </div>

</div>