---
layout: competition
id: competition
title: Competition
nav-order: 8



banner:
  content: >
    <div class="banner__logos">
      <a href="https://goo.gl/yWYn7m" target="_blank" class="banner__logo banner__logo--trailfinders"></a>
      <a href="http://www.singaporeair.com/en_UK/gb/plan-travel/local-promotions/australia?utm_source=secretescapes&utm_campaign=tourism_australia_2018" target="_blank" class="banner__logo banner__logo--singapore-airlines"></a>
    </div>
    <h1 class="title title--display title--display-size title--upper title--kerning">Competition</h1>



intro: >
  <p class="text--xl text--bolder">Embark on a luxurious tour of Australia with this enviable competition prize from Trailfinders and Singapore Airlines</p>
  <p class="text--xl">From buzzing, urban landscapes packed with artisanal foodie delights and world-leading cultural exploits, to irresistible countryside framed by mountain vistas and lakeside splendour, this prize is set to offer you the finest, curated Australian getaway.</p>
  <p class="text--xl">10 nights of opulent digs and chic retreats await, with Avis car hire allowing you to really adventure into the glorious landscapes you’ll encounter – all brought to you by Trailfinders, the UK’s No.1 Tour Operator Down Under and Singapore Airlines. </p>
  <p class="text--xl">Start your luxurious getaway with flights from Singapore Airlines in their Premium Economy Class. Reserve your main course up to 24 hours before you fly with the Book the Cook service, including creations by notable chefs from an International Culinary Panel. Touch down in Melbourne to begin your adventure...</p>
  <a href="#enter" class="btn btn--solid">Enter now</a>



sections:

  - title: Melbourne
    content:
    parts:

      - supertitle: Stay in Melbourne
        title: The Langham
        id: langham
        after: drive
        content: You’ll start in Melbourne, having flown Premium Economy in comfort with Singapore Airlines from the UK. Two nights await at the elegant Langham Melbourne, where five-star luxury complements the views from your Deluxe River room. Breakfast each morning at the hotel’s award-winning Melba Restaurant will start your Melbourne adventures the right way, before you leave the city behind in your hire car.

      - supertitle: Lakeside retreat
        title: Lake House, Daylesford
        id: lake-house
        after: flight
        content: Head out of the buzzing metropolis to the idyll of the Lake House. A true paradise, this lakeside lodge offers respite in the heart of Australia’s Spa Country of Daylesford. Irresistibly chic interiors only add to the serenity of this stay, where trails lead off into the gorgeous countryside. Enjoy a three-course dinner in the multi-award winning Lake House Restaurant, where you can sample delectable regional wines from the lodge’s impressive cellar.

  - title: Sydney
    content:
    parts:

      - supertitle: Five-star Sydney
        title: Shangri-La Hotel, Sydney
        id: shangri-la
        after: drive
        content: You’ll soon have to tear yourself away after your two-night stay at the Lake House and board your flight to Sydney. You’ll spend two nights at the Shangri-La Hotel, Sydney, a luxury five-star haven with astounding views over Sydney Harbour Bridge and the iconic Opera House. Staying in a Horizon Club room, enjoy personalised service and exclusive privileges including afternoon tea, evening drinks and canapes, plus much more.

      - supertitle: Blue Mountains
        title: Spicers Sangoma Retreat
        id: spicers
        after: drive
        content: Discover the delights of Sydney, from world-leading galleries to the historic charms of The Rocks. Discover foodie treats, iconic sights and culture in abundance. Avis car hire will see you escaping the urban jungle and replacing it with another outdoor idyll – Spicers Sangoma Retreat, set within the beguiling Blue Mountains World Heritage Area. These towering, verdant peaks are a true natural wonder, where a vast canopy of eucalypts emit an oily haze to which the mountains owe their name. Complete rejuvenation awaits at Spicers Sangoma Retreat, which is eco-certified and beset with a relaxing spa and infinity pool – sheer luxury and breathtaking surroundings abound.

      - supertitle: Sydney metropolis
        title: Hyatt Regency
        id: hyatt
        content: After a complete pampering, you’ll feel ready for one more city adventure. Drive back to Sydney for your two final nights at the Hyatt Regency, set in the heart of Darling Harbour. You’ll stay in comfort in a Premium Harbour room, with great views to match. Soak up the unique energy of this diverse metropolis, before jetting off with Singapore Airlines once more…



---



<section>
  <div class="row row--xxl bg--white vpad-bottom--xl competition-section">

    <div class="row row--padding text--center competition-section__intro">
      {{page.intro}}
    </div>

    {% for section in page.sections %}

      <div class="row row--padding text--center vpad--xxl text--white bg--image" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/{{section.title|slugify}}.jpg);">
        <h2 class="title title--xxl title--bolder title--upper title--kerning">{{section.title}}</h2>
      </div>

      {% for part in section.parts %}
      <div class="row row--padding row--6-6-gutters row--valign competition-section__part">

        <div class="col">
          <span class="title title--xxxs title--bolder title--upper title--kerning title--super">{{part.supertitle}}</span>
          <h4 class="title title--sm title--bold">{{part.title}}</h4>
          <hr class="hr--left">
          <p>{{part.content}}</p>
        </div>

        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/{{part.id}}.jpg);"></div>
        </div>

        {% if part.after %}
        <div class="competition-section__after">{{part.after}}</div>
        {% endif %}

      </div>
      {% endfor %}

      <div class="row row--padding text--center">
        <a href="#enter" class="btn btn--solid">Enter now</a>
      </div>

    {% endfor %}

  </div>
</section>



<section class="section">
  <div class="wp" id="enter"></div>
  <div class="row row--xxl bg--white vpad--xl competition-section">

    <div class="row row--padding text--center">
      <h2 class="title title--lg title--bolder">Enter now...</h2>
      <iframe src="https://promotion4441.strutta.me" width="100%" height="680"></iframe>
    </div>

  </div>
</section>
