---
layout: standard
---



<div class="intro{% if page.sections %} has-nav{% endif %}">

  <div class="intro__content section row row--padding text--center">
    <p class="text--xl">{{page.intro}}</p>
  </div>

  {% if page.sections %}
  <div class="intro__nav">
    {% include nav/page-nav.html %}
  </div>
  {% endif %}

</div>



{% assign page-sections = page.sections %}
{% for section in page-sections %}
  {% if section.layout == 'favourites' %}
    {% include guide/section-favourites.html %}
  {% elsif section.layout == 'expert' %}
    {% include guide/section-expert.html %}
  {% else %}
    {% include guide/section.html %}
  {% endif %}
{% endfor %}



{{content}}



{% include modal/modal-poi.html %}