---
layout: standard
---



<div class="intro{% if page.sections %} has-nav{% endif %}">

  <div class="intro__content section row row--padding row--8-4-gutters row--valign">

    <div class="col">
      {{page.intro}}
    </div>

    <div class="col row--padding vpad--md bg--sq-secondary text--white bg--rounded">
      <span class="title title--sm">Getting there</span>
      <hr class="hr--left">
      <p>Begin your Australian adventure in affordable luxury; fly Singapore Airlines.</p>
      <a href="{{site.baseurl}}/flights" class="btn btn--solid btn--sq">Flights from £XXX</a>
    </div>

  </div>

  {% if page.sections %}
  <div class="intro__nav">
    {% include nav/page-nav.html %}
  </div>
  {% endif %}

</div>



{% assign page-sections = page.sections %}
{% for section in page-sections %}
  {% if section.layout == 'favourites' %}
    {% include guide/section-favourites.html %}
  {% elsif section.layout == 'expert' %}
    {% include guide/section-expert.html %}
  {% elsif section.layout == 'luxury' %}
    {% include guide/section-luxury.html %}
  {% elsif section.layout == 'three-sixty' %}
    {% include guide/section-360.html %}
  {% else %}
    {% include guide/section.html %}
  {% endif %}
{% endfor %}



{% include page/flights-banner.html %}



{{content}}



{% include modal/modal-poi.html %}