
<div class="section vpad--xxxxl three-sixty" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/360/bg.jpg);">
  <div class="wp" id="section-{{section.title | slugify}}"></div>


  <div class="row row--padding text--center text--white">

    <img src="{{site.baseurl}}/img/icons/icon-three-sixty.png" class="js-svg-swap three-sixty__icon">
    {% if section.supertitle %}
      <h4 class="title title--super title--xs title--bolder title--display">{{section.supertitle}}</h4>
    {% endif %}
    <h3 class="title title--xl title--upper title--kerning title--display">{{section.title}}</h3>
    <hr class="hr--center">
    <p class="text--xl">{{section.content}}</p>
    <a href="{{ section.link }}" class="btn btn--lg btn--solid btn--white">Discover now</a>

  </div>


</div>