
<div class="js-modal modal is-closed" id="modal-pois">
  <div class="modal__ui-wrap row">
    <div class="js-close-modal modal__close"></div>
    <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
    <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>
    <div class="modal__content-wrap row">

      {% for section in page.sections %}
        {% for poi in section.pois %}

        <div class="modal__content modal__content--{{poi.title|slugify}}"  data-content-category="{{section.title|slugify}}">

          <div class="bg-img bg-img--16-9" style="background-image:url('{{site.baseurl}}/img/content/{{page.id}}/pois/{{poi.title|slugify}}.jpg');"></div>

          <div class="modal__content--padding vpad--xs text--center">

            <h2 class="title title--sm title--bold">{{poi.title}}</h2>

            <p>{{poi.content}}</p>

            {% if poi.locations %}
              <div class="vpad-top--sm">
              {% for location in poi.locations %}
                <div class="tag">
                  {% if location.airport %}
                    <span class="gateway title title--xxxxs title--bold">{% if location.title %}<span class="title--boldest">{{location.title}}</span>, {% endif %}Closest airport: <span class="title--boldest">{{location.airport}}</span></span>
                  {% else %}
                    <span class="location title title--xxxxs title--boldest">{{location.title}}</span>
                  {% endif %}
                </div>
              {% endfor %}
              </div>
            {% endif %}

            {% if poi.offer-id %}
              <hr>
              <span class="title title--xxxs title--upper title--kerning">Included in the following holiday package:</span>
              <div class="vpad-top--sm">
                {% assign offer = site.data.offers | where: "id", poi.offer-id %}
                {% for offer in offer %}
                  {% include components/offer-single.html type='direct' %}
                {% endfor %}
              </div>
            {% endif %}

          </div>
        </div>

        {% endfor %}
      {% endfor %}

    </div>
  </div>
</div>