
<div class="js-modal modal is-closed" id="modal-pois">
  <div class="modal__ui-wrap row">
    <div class="js-close-modal modal__close"></div>
    <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
    <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>
    <div class="modal__content-wrap row">

      {% for section in page.sections %}
        {% for poi in section.pois %}

        <div class="modal__content modal__content--{{poi.title|slugify}}"  data-content-category="{{section.title|slugify}}">

          <div class="bg-img bg-img--16-9" style="background-image:url('{{site.baseurl}}/img/content/{{page.id}}/pois/{{poi.title|slugify}}.jpg');"></div>

          <div class="modal__content--padding vpad--xs text--center">

            <h2 class="title title--sm title--bold">{{poi.title}}</h2>

            {% if poi.distance %}
              <p class="poi__location"> {{ poi.distance }}</p>
            {% endif %}

            <p>{{poi.content}}</p>

            <div class="vpad--sm">
              <h4 class="title title--xs title--lined title--upper title--kerning">Fly there</h4>
            </div>

            {% assign flight = site.data.flights | where:"id",poi.flight %}
            {% for flight in flight %}
            <h4 class="title title--xxs title--bolder">{{flight.title}}</h4>
            <h6 class="title title--upper title--kerning">{{flight.duration}}</h6>
            {% endfor %}

          </div>
        </div>

        {% endfor %}
      {% endfor %}

    </div>
  </div>
</div>