
<div class="js-modal modal is-closed" id="modal-sq">
  <div class="modal__ui-wrap row">
    <div class="js-close-modal modal__close"></div>
    <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
    <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>
    <div class="modal__content-wrap row">

      {% for feature in page.features %}

        <div class="modal__content modal__content--{{feature.title|slugify}}"  data-content-category="features">

          <div class="bg-img bg-img--16-9" style="background-image:url('{{site.baseurl}}/img/content/{{page.id}}/feature-{{feature.title|slugify}}.jpg');"></div>

          <div class="modal__content--padding vpad--xs text--center">

            <h4 class="title title--sm title--bold">{{feature.title}}</h4>
            <p class="text--lg">{{feature.content}}</p>
            <a href="#flights" class="js-close-modal btn btn--solid btn--sq">View flights</a>

          </div>
        </div>

      {% endfor %}

    </div>
  </div>
</div>