
<div class="js-modal modal is-closed" id="modal-map">
  <div class="modal__ui-wrap row">
    <div class="js-close-modal modal__close"></div>
    <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
    <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>
    <div class="modal__content-wrap row">

      {% assign pois = site.data.map.locations | concat: site.data.map.airports %}
      {% for poi in pois %}

        <div class="modal__content modal__content--{{poi.title|slugify}}"  data-content-category="{{section.title|slugify}}">

          <div class="bg-img bg-img--16-9" style="background-image:url('{{site.baseurl}}/img/content/{{page.id}}/pois/{{poi.title|slugify}}.jpg');"></div>

          <div class="modal__content--padding vpad--xs text--center bg--grey-darkest text--white">

            <h2 class="title title--sm title--bold">{{poi.title}}</h2>

            {% if poi.weather-id %}
              <div class="title title--upper title--kerning">
                Tomorrows forecast in {{poi.title}} is
                <span class="js-weather title--bolder" data-location="{{poi.weather-id}}"></span>
              </div>
            {% endif %}

            <hr class="hr--center">

            <p>{{poi.content}}</p>

            {% if poi.link %}
            <a href="{{site.baseurl}}/{{poi.link}}#poi-{{poi.title|slugify}}" class="btn btn--solid btn--sm">Read more</a>
            {% endif %}

          </div>
        </div>

      {% endfor %}

    </div>
  </div>
</div>